@font-face {
    font-family: jurassicFont;
    src: url('../jurassic-park/Jurassic\ Park.ttf');
}

.hide {
    display: none;
}

body {
    background-color: white;
    background-image: url('../images/bg2.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-position-y: -45px;
}

.button-display {
    padding: 5px 40px 5px 40px;
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    border-radius: 15px;
    text-shadow: 3px 3px black;
    transition: transform .2s
}

.button-display:hover {
    transform: scale(1.1)
}

/* WELCOMING PAGE */
#welcome-page {

    font-family: jurassicFont;
    letter-spacing: 1.5px;
    color: white;
    text-shadow: 3px 3px black;
    position: relative;
}

.container1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#welcome-page-instructions {
    width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 15px 30px 15px 30px;

}

h1 {
    font-size: 9rem;
    margin-bottom: 110px;
    text-shadow: 6px 6px black;
}

p {
    font-size: 2rem;
}

#arrows {
    width: 100px;
    padding-bottom: 10px;
}


/* GAME DISPLAY */
.game-container {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 850px;
}

#game-board {
    display: none;
    margin-top: 40px;
    position: relative;

}

#canvas {
    border-radius: 60px;
    border: 8px solid white;
    margin: 60px;
    padding: 0
}


/* WIN DISPLAY */
#win-page {
    display: none;
    font-family: jurassicFont;
    letter-spacing: 1.5px;
    color: white;
    text-shadow: 3px 3px black;
    position: relative;
}

.page-text {
    font-size: 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
}

#win-page-text h1 {
    font-size: 9rem;
    margin-bottom: 110px;
    text-shadow: 6px 6px black;
}



#winner-gif {
    width: 80%;
    padding-bottom: 10px;
}


/* LOSE DISPLAY */

#lose-page {
    display: none;
    font-family: jurassicFont;
    letter-spacing: 1.5px;
    color: white;
    text-shadow: 3px 3px black;
    position: relative;
}

#win-page-text {
    font-size: 2rem;
    width: 400px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
}

#win-page-text h1 {
    font-size: 9rem;
    margin-bottom: 110px;
    text-shadow: 6px 6px black;
}



#loser-gif {
    width: 100%;
    padding-bottom: 10px;
}